{% extends "SebUndefinedShopBundle::shoplayout.html.twig" %}

{# Define the title of the page #}
{% block title %}Erreur 404{{ parent() }} {% endblock %}

{% block sebundefined_body %}
<div class="container-fluid">
    <h1>Hum... Quelque chose s'est mal passée...</h1>
</div>
{% endblock %}
