<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <style>
        * {
            font-family: sans-serif;
        }
        table, tr {
            border-collapse: collapse;
            border: 1px solid black;
        }
        td {
            width:50%;
        }
    </style>
</head>
<body>

<div style="width: 600px;height: 200px; margin: auto;">
    <h1 align="center">Votre commande numéro </h1>
    <p style="text-align: justify">
        Bonjour,<br/>
        Merci pour votre commande ! Par ce mail nous accusons réception de cette dernière. Vous trouverez ci-dessous
        tous les éléments nécessaires pour votre visite. Merci d'imprimer ce mail ou présentez-le à l'accueil lors de votre
        arrivée au musée. <br/>
        Bonne visite ! <br/>
        <br/>
        Toute l'équipe du musée du Louvre.

    </p>
    <ul>
        <li>
            Numéro de commande :
        </li>
        <li>
            Date de la commande :
        </li>
        <li>
            Type de billet :
        </li>
        <li>
            Prix total :
        </li>
        <li>
            Adresse email :
        </li>
    </ul>
    <table width="100%">
        <tr>
            <th>
                <h4>Billet numéro: </h4>
            </th>
        </tr>
        <tr>
            <td>

                Nom : <br/>
                Prénom : <br/>
                Date de naissance : <br/>
                Pays : <br/>
            </td>
            <td>
                Type : <br/>
                Tarif réduit : <br/>
                Prix : <br/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>