{# src/SebUndefined/ShopBundle/Resources/views/Advert/index.html.twig #}
{% extends "SebUndefinedShopBundle::shoplayout.html.twig" %}

{# Define the title of the page #}
{% block title %}Home - {{ parent() }} {% endblock %}

{% block sebundefined_body %}
    <div class="container-fluid">
        <div class="row">
            <div id="homeForm" class="col-md-8 col-sm-6 col-xs-12">
                <div class="well">
                    <h2>Commande validée</h2>
                    <p>Nous avons bien reçu votre commande ! </p>
                    <h4>Que dois-je faire maintenant ? </h4>
                    <p>Un email vous sera envoyé dans quelques instants. Ce dernier comporte
                    toutes les informations de votre commande et des billets associés. <br/>
                    Il est donc indispensable de le présenter à l'accueil lors de votre arrivée au musée soit en
                        l'imprimant, soit en le présentant via un support électronique (smartphone, tablette...)
                    </p>
                    <p>Toute l'équipe du musée du Louvre vous souhaite une excellente visite ! </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}